body {
    margin : 0;
    background-color: #F5F5F5;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
}

.container {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 20rem;
    min-height: 30vh;
    border-radius: 1rem;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color : #333333;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.container.active .user-choice{
    animation : userShake 0.7s ease infinite;
}
@keyframes userShake {
    50% {
        transform: rotate(70deg) rotateY(180deg);
    }
}

.container.active .computer-choice{
    animation : computerShake 0.7s ease infinite;
}

@keyframes computerShake {
    50% {
        transform: rotate(-70deg);
    }
}


.title {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.playground {
    display: flex;
    align-items: center;
    justify-items: center;
}

.playground img {
    width: 9rem;
}

.user , .computer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.user-choice {
    transform: rotate(90deg) rotateY(180deg);
}

.computer-choice {
    transform: rotate(-90deg) ;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 2rem;
}

.options {
    display: flex;
    align-items: center;
    justify-items: center;
}

.option {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: all ease 200ms;
    cursor: pointer;
}

.option.active {
    opacity: 1;
}

.option:hover {
    opacity: 1;
}

.options img {
    width: 6rem;
}






